@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin inputBeautify() {
    appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: inherit;
    font-weight: inherit;
    -webkit-box-shadow: 10px 8px 18px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 8px 18px -9px rgba(66, 68, 90, 1);
    box-shadow: 10px 8px 18px -9px rgba(66, 68, 90, 1);    
}