@import "../../mixins.scss";

.Search {
    @include inputBeautify();
    width: 60%;
}

.SearchResultsContainer {
    @include flexCenter(row);
    margin-top: 40px;

}

.SearchResult {
    border-radius: 5px;
    margin: 10px; 
    border: 2px solid black;
    padding: 20px;    
}